1. What is the output of the following code? nums = set([1,1,2,3,3,3,4,4]) print(len(nums))
Hint: Set consists unique element.

**Answer: 4**

2. What will be the output? d = {"john":40, "peter":45} print(list(d.keys())) Hint: d.keys() is the function which will show keys.

**Answer: ['john','peter']**

3. A website requires a user to input username and password to register. Write a program to check the validity of password given by user. Following are the criteria for checking password:

      a. At least 1 letter between [a-z]

      b. At least 1 number between [0-9]

      c. At least 1 letter between [A-Z]

      d At least 1 character from [$#@]

      e. Minimum length of transaction password: 6

      f. Maximum length of transaction password: 12

Hint: In case of input data being supplied to the question, it should be assumed to be a console input.

In [4]:
import re

In [40]:
passwd = input("Enter your password: ")
def check_pass(passwd):
  if len(passwd) < 6 or len(passwd) > 12:
    return "Enter password of minimum 6 and maximum 12 characters"

  char_check_list=['$','#','@']

  num = re.findall('[0-9]+', passwd)
  if not num:
    return "Atleast 1 number is required in password"
  
  lower_char = re.findall('[a-z]+', passwd)
  if not lower_char:
    return "At least 1 letter between [a-z] is required in password"
  
  upper_char = re.findall('[A-Z]+', passwd)
  if not upper_char:
    return "At least 1 letter between [A-Z] is required in password"

  special_char = re.findall(r"\W",passwd)
  check = True
  for c in special_char:
    
    if c in char_check_list:
      check = False
      break
  
  if check:
    return "At least 1 character from [$ # @] is required in password"

  return "Password validation is successful"

check_pass(passwd)

Enter your password: Harry@34

'Password validation is successful'

4. Write a for loop that prints all elements of a list and their position in the list.

  a = [4,7,3,2,5,9]

  Hint: Use Loop to iterate through list elements.

In [42]:
a = [4,7,3,2,5,9]
for pos,num in enumerate(a):
  print(f"Position = {pos} and Number = {num}")

Position = 0 and Number = 4
Position = 1 and Number = 7
Position = 2 and Number = 3
Position = 3 and Number = 2
Position = 4 and Number = 5
Position = 5 and Number = 9

5. Please write a program which accepts a string from console and print the characters that have even indexes.

  Example: If the following string is given as input to the program:
  
  H1e2l3l4o5w6o7r8l9d
  
  Then, the output of the program should be:
  
  Helloworld

In [45]:
word = input("Enter your word: ")
#word = "H1e2l3l4o5w6o7r8l9d"
l = len(word)
i = 0 
final_word = ""

while i < l:
  final_word += word[i]
  i+=2

print(final_word)

Enter your word: H1e2l3l4o5w6o7r8l9d
Helloworld

6. Please write a program which accepts a string from console and print it in reverse order.

    Example: If the following string is given as input to the program:

    rise to vote sir

    Then, the output of the program should be:

    ris etov ot esir

In [46]:
word = input("Enter your word: ")
#word = "rise to vote sir"
print(word[::-1])

ris etov ot esir

7. Please write a program which count and print the numbers of each character in a string input by console.

  Example: If the following string is given as input to the program:

  abcdefgabc

  Then, the output of the program should be:

  a,2

  c,2

  b,2

  e,1

  d,1

  g,1

  f,1

In [52]:
word = input("Enter your word: ")
#word = "abcdefgabc"

def word_count(word):
  d = {}
  for w in word:
    if w in d:
      d[w] += 1
    else:
      d[w] = 1
  
  for k,v in d.items():
    print(f"{k},{v}")

word_count(word)

a,2
b,2
c,2
d,1
e,1
f,1
g,1

8. With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

In [55]:
a = [1,3,6,78,35,55]
b = [12,24,35,24,88,120,155]

def list_intersection(a,b):
  x = set(a)
  y = set(b)
  z = x.intersection(y)
  print(list(z))

list_intersection(a,b)

[35]

9. By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

In [56]:
a = [12,24,35,24,88,120,155]
[x for x in a if x != 24]

[12, 35, 88, 120, 155]

10. By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [58]:
a = [12,24,35,70,88,120,155]

[y for x,y in enumerate(a) if x not in [0,4,5]]

[24, 35, 70, 155]

11. By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [61]:
a = [12,24,35,70,88,120,155]

[x for x in a if x%5 != 0 and x%7 != 0]

[12, 24, 88]

12. Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0).

    Example:

    If the following n is given as input to the program:

    5

    Then, the output of the program should be:

    3.55

In [68]:
num = int(input("Enter a number : "))
#num = 5
i = 1
sum = 0
while i <= num:
  sum += i/(i+1)
  i += 1

print(f"Output = {sum:.2f}")

Enter a number : 5
Output = 3.55